html,
body {
  height: 100%;
  background-color: #fffffe;
}

#header {
  background-color: #ff8e3c;
  color: #272343;
}

.profile-circle {
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

#main-circle {
  border: 1px solid #272343;
  width: 92px;
  height: 85px;
}

@media (min-width: 768px) {
  #header {
    padding: 8px;
  }

  #main-circle {
    width: 87px;
    height: 84px;
    margin-top: 8px !important;
  }
}

#main-avatar-pic {
  height: 75px;
  width: auto;
}

/* ----- contacts column ----- */

#sidebar-col {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #eff0f3;
  height: 100%;
}

.contact {
  border-bottom: 1px solid silver;
  border-radius: 2px;
  transition: all 0.3s;
}

.contact:hover {
  background-color: #fffffe;
  cursor: pointer;
}

.contact-icon {
  height: 45px;
  width: auto;
  display: inline;
}

.contact p {
  display: inline;
  padding-left: 15px;
}

/* ----- main col messages ----- */

#messages-col {
  height: 100%;
  /* background-color: pink; */
}

#chat-area {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  #chat-area {
    height: 66vh;
  }
}


.bubble {
  margin: 25px 5px 16px 5px;
  position: relative;
}

.bubble p {
  border-radius: 10px;
  display: inline;
  padding: 15px;
}

.bubble-right {
  text-align: right;
}

.bubble-right p {
  background-color: lightcyan;
}

.bubble-left p {
  background-color: mistyrose;
}

.time-stamp {
  padding: 0;
  font-size: 12px;
}

.time-stamp-right {
  float: right;
}
/* ----- bottom section ----- */

textarea {
  background-color: #eff0f3;
  box-shadow: 9px 9px 12px -7px rgba(0,0,0,0.75);
}

button {
  background: #d9376e !important;
}

/* ----- scroll bar ----- */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #272343;
}

/* ------ typing indicator ------- */

.ti-block {
  align-items: center;
  display: flex;
  height: 17px;
}

.ti-container .ti-dot {
  background-color: #90949c;
}

.ti-dot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 6px;
  display: inline-block;
  height: 8px;
  margin-right: 4px;
  width: 8px;
}

@-webkit-keyframes mercuryTypingAnimation{
  0%{
    -webkit-transform:translateY(0px)
  }
  28%{
    -webkit-transform:translateY(-10px)
  }
  44%{
    -webkit-transform:translateY(0px)
  }
}

.ti-dot:nth-child(1){
  -webkit-animation-delay:200ms;
}
.ti-dot:nth-child(2){
  -webkit-animation-delay:300ms;
}
.ti-dot:nth-child(3){
  -webkit-animation-delay:400ms;
}

#reference {
  font-size: 10px;
}
